*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
html{
    background-image:linear-gradient(hsla(1, 60%, 60%, 1),hsla(1, 60%, 60%, 1), hsla(50, 100%, 50%, 1));
}
nav{
    display: flex;
    padding: 1rem 0.5rem;
    justify-content: space-around;
    font-size: 1.1rem;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px lightgrey;
    background-color: hsla(50, 100%, 50%, 1);
    position: fixed;
    width: 100%;
    top: 0;
    height: 30px;
    z-index: 3;
}
nav>a{
    background-color: hsla(1, 60%, 60%, 1);
    padding: 0rem 2rem;
    border: 3px solid hsla(204, 87%, 50%, 1);
    border-radius: 16px;
    text-decoration: none;
}
nav>a:hover{
    background-color: hsla(204, 87%, 50%, 1);
}
button{
    padding: 0rem 2rem;
    border: 3px solid hsla(204, 87%, 50%, 1);
    border-radius: 16px;
    background-color: hsla(1, 60%, 60%, 1);
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px lightgrey;
}
button:hover{
    background-color: hsla(204, 87%, 50%, 1);
    color: yellow;
}
.image{
    width: 30px;
    height: 30px;
}
.imagediv{
    position: relative;
    float: left;
    width: 4vw;
    height: auto;
}
.listHeader{
    text-align: center ;
    text-decoration: underline;
    font-size: 2rem;
    margin: 0.6rem;
}
.content{
    padding-top: 40px;
}
#masthead{
    font-size: 8vw;
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start;
}
#sechead{
    display: flex;
    justify-content: flex-start;
    font-size: 3vw;
}
h2{
    font-size: 4.3vw;
    margin-left: 1rem;
}

header{
    padding: 2rem 2rem;
    background-image: linear-gradient(hsla(204, 87%, 50%, 1), hsla(50, 100%, 50%, 1) , hsla(1, 60%, 60%, 1));
    border-bottom: 5px solid hsla(50, 100%, 50%, 1);
    height: 28vw
}
.header:after{
    content: "";
    display: table;
    clear: both;
}
.headtext{
    float: left;
    width: 70%;
    margin: 9vw 0.2rem;
}
.img{
    height: 25vw;
    width: auto;
    position: absolute;
    border: 5px solid hsla(50, 100%, 50%, 1);
    box-shadow: 0px 4px 10px black;
    margin: 1.5rem 1rem 0rem 1rem;
    display: flex;
    justify-content: flex-end;
}
.image1{
    z-index: 1;
}
.image2{
    z-index: auto;
}
.resume{
    padding: 0rem 6rem;
}

ul{
    padding: 0rem 2rem 1rem ;
    font-size: 1.3rem;
    list-style-type: none;
}
li{
    padding: 0.5rem;
    background-color: hsla(204, 87%, 75%, 1);
    border: 5px solid hsla(50, 100%, 50%, 1);
    box-shadow: 0px 4px 10px black;
    margin: 1rem;
    text-align: center;
}
li:nth-child(even){
    transition: transform 300ms;
    transition-delay: 500ms;
    transition-timing-function: cubic-bezier(0.5,0,0.5,1);
}
li:nth-child(odd){
    background-color: hsla(204, 87%, 50%, 1);
    transition: transform 300ms;
    transition-delay: 500ms;
    transition-timing-function: cubic-bezier(0.5,0,0.5,1);
}
li:nth-child(even):hover{
    transition: transform 500ms;
    transform: translateX(2rem); 
    transition-timing-function: cubic-bezier(.69,.01,.42,1);
}
li:nth-child(odd):hover{
    transition: transform 500ms;
    transform: translateX(-2rem);  
    transition-timing-function: cubic-bezier(.69,.01,.42,1);
}
a{
    color: black;
}
a:hover{
    color: yellow;
}
a:visited{
    color: hsla(1, 1%, 25%, 1);
}
a:visited:hover{
    color:yellow;
}

p{
    margin: 1rem 3rem;
    padding: 1rem;
    border: 5px solid hsla(50, 100%, 50%, 1);
    background-color: hsla(204, 87%, 75%, 1);
    font-size: 2rem;
    box-shadow: 0px 0px 10px black;
}
.text{
    margin-bottom: 5rem;
}
footer{
    font-size: 0.75rem;
    color: darkgrey;
    background-color: hsla(50, 100%, 50%, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16px;
    z-index: 3;
}
@media only screen and (max-width: 800px){
    nav,p,button{
        font-size: 0.7rem;
    }
    nav>a,button{
        padding:0rem 0.5rem;
    }
    nav>a{
        padding-top: 0.2rem;
    }
    
}

@Media Only screen and (min-width: 600px) and (max-width: 1500px) {
   
}